<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index no-header sticky-footer">

    {% include navbar.html %}

    {% comment %}
    {% include header.html %}
    {% endcomment %}

    {% include mission.html %}
    {% include schedule.html %}
    {% comment %}
    {% include contact.html %}
    {% include team.html %}
    {% endcomment %}
    {% include project-page.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>

<script src=”https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id=”MathJax-script” async src=”https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
